## Tuple
Immutable list
() is used
A tuple is an immutable list of values. Tuples are one of Python's simplest and most common collection types, and
can be created with the comma operator (value = 1, 2, 3).

In [ ]:
l=list()#[]
t=tuple()#()

In [ ]:
data1=[1,2,3,"python",[3,3,0]]
data=(10,20,'ram',56.8,(10,20,30),[1,2,3])

In [ ]:
data

(10, 20, 'ram', 56.8, (10, 20, 30), [1, 2, 3])

In [ ]:
type(data)

tuple

In [ ]:
len(data)

6

This process is called tuple packing because the objects being assigned are “packed” into a single immutable tuple object.

In [ ]:
x='a','mahesh',10.56

In [ ]:
type(x)

tuple

In [ ]:
t2='a',
# t2=tuple()
type(t2)

tuple

### Tuples are immutable
One of the main differences between lists and tuples in Python is that tuples are immutable, that is, one cannot
add or modify items once the tuple is initialized. For example:

In [ ]:
tupl3=1,'mahesh',10.56,(10,20,30)

In [ ]:
tupl3

(1, 'mahesh', 10.56, (10, 20, 30))

In [ ]:
tupl3[2]="python"
tupl3

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupl3=(1,'mahesh',10.56,[10,20,30])
print(tupl3[3])
print(tupl3[3][0])
tupl3[3][0]=100
tupl3

[10, 20, 30]
10

(1, 'mahesh', 10.56, [100, 20, 30])

In [ ]:
help(tupl3.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [ ]:
tupl3.index(10.56)

2

In [ ]:
tupl3

(1, 'mahesh', 10.56, (10, 20, 30))

In [ ]:
l=(1,230,0,"python")
l[3][0]="q"
l

TypeError: 'str' object does not support item assignment

In [ ]:
a = tupl3[1]
print(tupl3)
a.endswith('h')
b = a = tupl3[1] + "kiran"
b
print(tupl3)
print(id(tupl3))
tupl3[1] = 'maheshkiran'
tupl3

(1, 'maheshkiran', 10.56, (10, 20, 30))
(1, 'maheshkiran', 10.56, (10, 20, 30))
132963510582416

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupl3 = (1, 'maheshkiran', 10.56, (10, 20, 30))
print(id(tupl3))
tupl3

132963510816576

(1, 'maheshkiran', 10.56, (10, 20, 30))

In [ ]:
l=[1,2,3,"python"]
l[3]="Java"
l

[1, 2, 3, 'Java']

In [ ]:
tuple1=(1,2,3,4)
tuple1[0]

1

In [ ]:
tuple1[0:2]

(1, 2)

#       +
#---------------
# int   | int
# float |float
# int   |float
# float |int
# String|String
# tuple |tuple

In [ ]:
tuple2=(1,3,444,55)
tup=tuple2 + (2,777,"string")
print(tup)

(1, 3, 444, 55, 2, 777, 'string')

In [ ]:
tuple2  =tuple2[0:3]
tuple2

(1, 3, 444)

In [ ]:
'python'*'java'

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
'python '*2

'python python '

In [ ]:
tuple2=(1,3,444,55)

In [ ]:
tuple2 * 2

(1, 3, 444, 55, 1, 3, 444, 55)

In [ ]:
data=(10,20,'rahul',40.6,'z')
data1=data
del data
print('Data1',  data1)
print (data)

Data1 (10, 20, 'rahul', 40.6, 'z')

NameError: name 'data' is not defined

In [ ]:
print(data1)

(10, 20, 'rahul', 40.6, 'z')

In [ ]:
data = ("ab","bc", "de")
max(data)

'de'

In [ ]:
data=(10,20,40.6)
min(data)

10

In [ ]:
max(data)

40.6

In [ ]:
data=(10,20,40.6,"a")

In [ ]:
data=(10,20,40.6,"10")
min(data)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
# no <capital letter <small letter
data=("20","2","abcd")
# data=(10,2)
min(data)

'2'

In [ ]:
data=("20","2","abcd","kiran",'iuu')
rev=data[::-1]

# rev=data[::-3]
rev

('iuu', 'kiran', 'abcd', '2', '20')

In [ ]:
list1=['a',1,100,233]
t=tuple(list1)
print (t)
print(type(t))

('a', 1, 100, 233)
<class 'tuple'>

In [ ]:
lt=[]
lt=list(t)
print(type(lt))
print (list(t))

<class 'list'>
['a', 1, 100, 233]

In [ ]:
len(t)

# Why use a tuple instead of a list?

Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

There is another Python data type that you will encounter shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

- Tuples are stored in a single block of memory. Tuples are immutable so, It doesn't require extra space to store new objects.
- Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data.
- It is the reason creating a tuple is faster than List.
- It also explains the slight difference in indexing speed is faster than lists, because in tuples for indexing it follows fewer pointers